absl-py==0.9.0
astor==0.8.1
backports.functools-lru-cache==1.6.1
backports.weakref==1.0rc1
beautifulsoup4==4.8.2
bleach==3.3.0
enum34==1.1.9
funcsigs==1.0.2
gast==0.2.2
grpcio==1.27.2
h5py==2.10.0
html5lib==0.9999999
Markdown==3.1.1
mock==3.0.5
numpy==1.19.3
protobuf==3.11.3
pytest==6.2.2
rdflib==5.0.0
six==1.14.0
soupsieve==1.9.5
tensorboard==2.1.0
tensorflow==2.5.2
termcolor==1.1.0
tqdm==4.56.0
Werkzeug==1.0.1
airML==0.0.3
