absl-py==0.9.0
astor==0.8.1
backports.functools-lru-cache==1.6.1
backports.weakref==1.0rc1
beautifulsoup4==4.8.2
bleach==1.5.0
enum34==1.1.9
funcsigs==1.0.2
futures==3.3.0
gast==0.3.3
grpcio==1.27.2
h5py==2.10.0
html5lib==0.9999999
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
numpy==1.16.6
protobuf==3.11.3
six==1.14.0
soupsieve==1.9.5
tensorboard==1.12.2
tensorflow==1.15.2
termcolor==1.1.0
tqdm==4.43.0
Werkzeug==1.0.0
